%div.header
	%h1
		Liste des auteurs
%div.container
	%div.list-users
		%div.row
			- @users.each do |user|
				%div.col.s4
					.card.small
						=  image_tag user.avatar.thumb.url,:class => "circle"
						.card-content
							%p
								= user.first_name
								= user.last_name
							%p	
								= user.posts.count
								articles
						.card-action
							= link_to "voir l'auteur",user