%div.header
	%div.post
		%div.header-post
			%h1
				= @post.title

%div.container
	%div.post
		%div.header-post
			%p
				Posté le 
				= @post.created_at
				
				
				par
				%strong
					=link_to (current_user==@post.user)? "vous" : @post.user.first_name+" "+@post.user.last_name ,(user_path([@post.user]))
				
				%div.post-edit-button
					-if(current_user==@post.user)
						=link_to "éditer", (edit_post_path([@post])),:class => "btn btn-primary"

						= form_tag(post_path([@post]), method: "delete") do
							= button_tag 'supprimer' , class: 'btn btn-danger delete-photo',type: :submit,data: { id: @post.id, name:@post.title }

		
			%div.row
				%div.col.s8
					%div.img
						=  image_tag @post.file_name.url
					%h2
						= @post.header
					%p 
						= @post.content
				%div.col.s3.offset-s1
					%h4 
						Du même auteur
					%div.row
						- @post.user.posts.where.not(id: @post).limit(3).each do |post|
							.card.medium
								.card-image
									=  image_tag post.file_name.thumb.url
									%span.card-title
										= post.title
								.card-content
									%p
										= post.header
								.card-action
									= link_to "voir l'article",post
