/ %div.header
/ 	%div.post
/ 		%div.header-post
/ 			%h1
/ 				= @post.title

%div.container
	%div.post
		%h1
			= @post.title
		%div.header-post
			%p
				Posté le 
				= @post.created_at
				
				
				par
				%strong
					=link_to (current_user==@post.user)? "vous" : @post.user.first_name+" "+@post.user.last_name ,(user_path([@post.user]))
				
				%div.post-edit-button
					-if(current_user==@post.user)
						=link_to "éditer", (edit_post_path([@post])),:class => "btn btn-primary"

						= form_tag(post_path([@post]), method: "delete",id:"form-post") do
							= button_tag 'supprimer' , class: 'btn btn-danger delete-post-show',type: :submit,data: { id: @post.id, name:@post.title }

		
			%div.row
				%div.col.m7
					%div.img
						=  image_tag @post.file_name.url
					%h2
						= @post.header
					%p 
						= @post.content
					%div
						%div#list-comments.row.comment
							%h4
								Les commentaires
							- @post.comments.all.each do |c|
								%div.row.comment
									%div.col.m2
										= link_to c.user do
											= image_tag c.user.avatar.thumb.url,:class => "circle"
									%div.col.m10
										= link_to c.user do
											= current_user.first_name
											= current_user.last_name
										le
										= c.created_at
										/ %i.material-icons.right more_vert
										%div
											= c.content
						-if user_signed_in?
							%div.row.create_comment
								%h4
									Laisser un commentaire
								%div.col.m2
									= image_tag current_user.avatar.thumb.url,:class => "circle"
									%div
										= current_user.first_name
										= current_user.last_name
								%div.col.m10
									= form_for Comment.new do |c|
										= c.hidden_field :post_id,:value => @post.id
										%div#error-content.errors
											- if @comment
												= @comment.errors[:content][0];
										%div.input-field
											= c.text_area :content,:class => "materialize-textarea"
											= c.label :content
										%div
											= c.submit :class=> "btn", :id => "leave-comment"



				%div.col.m3.offset-m1
					%h4 
						Du même auteur
					%div.row
						- @post.user.posts.where.not(id: @post).limit(3).each do |post|
							.card.medium
								.card-image
									=  image_tag post.file_name.thumb.url
									%span.card-title
										= post.title
								.card-content
									%p
										= post.header
								.card-action
									= link_to "voir l'article",post
#modal-delete.modal
	.modal-content
		%h4 Supprimer l'article
		%p
			Voulez vous supprimer 
			%strong
				%span#name-article-delete
			?
		%p
			Vous serez ensuite redirigés vers votre page.
	.modal-footer
		%a#delete-post-button.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} Ok
		%a.modal-action.modal-close.waves-effect.waves-red.btn-flat{:href => "#!"} Annuler