%div.header
	%div.container
		%h1
			The bloggers est un site qui regroupe des articles écrits par des gens cools.
			En vous inscrivant vous pourrez à votre tour écrire des articles et commenter ceux des autres.

%div.container
	%h2
		Derniers article
	%div.row
		- @lastPosts.each do |post|
			%div.col.s6
				.card.medium
					.card-image
						=  image_tag post.file_name.thumb.url
						%span.card-title
							= post.title
					.card-content
						%p
							= post.header
					.card-action
						= link_to "voir l'article",post
	%h2
		Articles les plus commentés
	%div.row
		- @postsMostCommented.each do |post|
			%div.col.s6
				.card.medium
					.card-image
						=  image_tag post.file_name.thumb.url
						%span.card-title
							= post.title
					.card-content
						%p
							= post.header
					.card-action
						= link_to "voir l'article",post